# OS X noise
.DS_Store

# TextMate noise
*.tm_build_errors

# Xcode noise
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.moved-aside
*~.nib
*.xccheckout
xcuserdata

# TMP data
Build/*
DerivedData
.idea/
tmp
